.cryptoTable {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-top: solid 1px gray;

    &:first-of-type {
      border-top: none;
    }
  }

  td {
    padding: 10px 0;
  }
}

.priceCell {
  text-align: right;
}

.percentCell {
  width: 120px;

  > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
  }
}
